*{
	box-sizing:border-box;
}

.container{
	width:500px;
	height:500px;
	background-color: #3d3d3d;
	border-radius:50%;
	border:15px solid rgb(88, 88, 102);
	position: relative;
	overflow: hidden;
	transition: 5s;
}

.container div{
	height:50%;
	width:350px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:20px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
	left:60px;
}

.container .one{
	background-color: #3f51b5;
	transform: rotate(0deg);
}
.container .two {
  background-color: #085862;
  transform: rotate(72deg);
}
.container .three {
  background-color: #e91eb3;
  transform: rotate(144deg);
}
.container .four {
  background-color: #8b4caf;
  transform: rotate(216deg);
}
.container .five {
  background-color: #009688;
  transform: rotate(288deg);
}	


.arrow{
	position: relative;
	top:0;
	transform: translateX(-50%);
	color:#414141;
}

.arrow::before{
	content:"\1F817";
	font-size:50px;
}

#spin{
	position: absolute;
	top:45%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:15px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
	margin-top: 20px;
}

.container img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}