.tituloCadastrar {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-textfield .MuiOutlinedInput-root {
  border-radius: 15px;
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #21399b !important;
}

.custom-textfield .MuiInputLabel-root.Mui-focused {
  color: #21399b !important;
}

/* Ajustando o estilo do hr para garantir visibilidade */
.login-divider {
  margin: 0px;
  width: 100%;
  border-top: 1px solid rgb(122, 122, 122);
  position: relative;
  z-index: 1;
}

/* Ajustando o estilo do texto "OU" para garantir que ele sobreponha corretamente */
.login-or {
  position: absolute;
  padding: 0px 0.5rem;
  background: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: -0.6rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  z-index: 2;
}